<header>
<title<CREATE PORTFOLIO </title>
</header>
<h1>Welcome</h1>
<% if(errors){ %>
	<ul>
	<% errors.forEach(function(error){ %>
	<li><%= error.msg %></li>
	<% }) %>
	</ul>
	<% } %>
	<form method= "GET" action="/login/create/ss">  
		
	<input type="submit" value="Upload Screenshots">		<br><br>

	</form>
	
	<form method= "GET" action="/login/create/links">  
		
	<input type="submit" value="Post Links">		<br><br>



	
	</form>
	

<footer>
	
</footer>