
<title<HOME PAGE </title>
<body>
<p> Welcome! </p>
<br>
<br>
<br>
<form f method= "POST" action="/login/create" >
  Name:<br>
  <input type="text" name="Name" >
  <br>
  
 
  <input type="submit" value="Create portfolio">
</form> 

<p></p>

</body>
